<%- include("partials/header.ejs") %>


<h1>Where are you going today?</h1>

  <p>
    You have entered <strong><%= postalCode %></strong> as the postal code. Confirm which of the places this refers to. 
  </p>

  <!-- To include list of places here -->
  <h2>Places:</h2>
  <ul id="places">
    
    <form action="/duration" method="POST">
    <% for(var listnum=0;listnum<places.length;listnum++) { %>
      <p>
        <button class="btn btn-outline-primary" type="submit" data-id="<%=listnum%>"> <%=places[listnum].ADDRESS%> </button>
      </p>
    <%}%>
    </form>
    </div>
  </ul>

<%- include("partials/footer.ejs") %>