<%- include("partials/header.ejs") %>


<h1>Where are you going today?</h1>

  <h5>
    You have entered <strong><%= postalCode %></strong> as the postal code. Confirm which of the <%= places.length %> places you were referring to. 
  </h5>

  <!-- To include list of places here -->

  <ul id="places">
    <div>
    <form action="/duration" method="POST">
   
    <% for(var listnum=0;listnum<places.length;listnum++) { %>
      <p>
        <button class="btn btn-outline-primary" type="submit" name="selectedAddress" value="<%=places[listnum].ADDRESS%> "> <%=places[listnum].ADDRESS%> </button>
      </p>
    <%}%>
    </form>
    </div>

    <form action="/" method="get">
      <p>
        <button class="btn btn-outline-dark" name="back" > Place not found? Refine your search </button>
      </p>
    </form>
  </ul>

<%- include("partials/footer.ejs") %>