<%- include("partials/header.ejs") %>


<h1>How long will you be there?</h1>

<h5>
    Tell us when you plan to be at <strong><%= venue %></strong>, and for how long. 
</h5>

  <!-- select time and duration below. to return in date, hour, and minute -->
  <div class="container">
  <form action="/getParking" method="POST" >
    <div class="row g-3 justify-content-center">
      <div id="date" class="col-auto">
        <label for="date">Date:</label>
        <br>
        <input type="date" id="date" name="startDate" required="">    
      </div>
      <div id="time" class="col-auto">
        <label for="startTime">Start Time:</label>
        <br>
        <select id="hours" name="startHour" required>
          <!-- Generating options for hours from 0 to 20 -->
          <% for (let i = 0; i < 24; i++) { %>
            <% const paddedHour = i.toString().padStart(2, '0'); %>
            <option value="<%= paddedHour %>"><%= paddedHour %></option>
          <% } %>
        </select>
        <select id="minutes" name="startMinute" required>
          <!-- Generating options for minutes in increments of 15 -->
          <% for (let i = 0; i < 60; i += 15) { %>
            <% const paddedMinutes = i.toString().padStart(2, '0'); %>
            <option value="<%= paddedMinutes %>"><%= paddedMinutes %></option>
          <% } %>
        </select>
      </div>
      <div id="duratiom" class="col-auto">
        <label for="Duration">Duration:</label>
        <br>
        <select id="hours" name="hHour" required>
          <!-- Generating options for hours from 0 to 20 -->
          <% for (let i = 0; i < 20; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <select id="minutes" name="mMinute" required>
          <!-- Generating options for minutes in increments of 15 -->
          <% for (let i = 0; i < 60; i += 5) { %>
            <% const paddedMinutes = i.toString().padStart(2, '0'); %>
            <option value="<%= paddedMinutes %>"><%= paddedMinutes %></option>
          <% } %>
        </select>
      </div>
    </div>
      <br><br>
    <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<%- include("partials/footer.ejs") %>