<%- include("partials/header.ejs") %>


<h1>You can park at these places</h1>

  <p>
    You will be at <strong><%= venue %></strong> for <strong><%= durationHr %> hr <%= durationMin %> min</strong> from <strong><%= date %></strong>. The parking nearby are:
  </p>

  <!-- To include list of places here -->
  <form action="/duration" method="POST">
    <div class="form-group">
        <input name="postalCode" type="text" class="postal-input" placeholder="Enter postal code" />
        <small id="postalCodeHelp" class="form-text text-muted">Please enter a valid postal code.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("partials/footer.ejs") %>